* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

@font-face {
    font-family: 'artistica';
    src: url('/font/Artistica.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    width: 100vw;
}

header {
    width: 100vw;
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease;
    background-color: white;
}

.main-top {
    display: flex;
    width: 100vw;
    height: auto;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px 0 100px;
    border-bottom: 2px solid rgb(186,58,59);
    padding-top: 7px;
}

#logo-icon {
    width: 78px;
    height: 78px;
    border-radius: 15px;
}

.main-top h3 {
    position: absolute;
    font-size: 16px;
    width: 93px;
    margin-left: 100px; 
    color:rgb(186,58,59);
    font-family: 'Work Sans', sans-serif;
    font-weight: 700;

}

.hamburger {
    position: relative;
    width: 50px;
    height: 50px;
    cursor: pointer;
    display: block;
    z-index: 1001;
}
  
.line {
    position: absolute;
    height: 4px;
    width: 30px;
    background: rgb(186,58,59);
    border-radius: 2px;
    left: 10px;
    transition: 0.4s ease;
}
  
/* Posições do hambúrguer */
.l1 { top: 8px; }
.l2 { top: 16px; }
.l3 { top: 24px; }
.l4 { top: 32px; }
  
/* Transformação para casa */
#menu-toggle:checked + .hamburger .l1 {
    transform: rotate(45deg);
    top: 18px;
    left: 20px;
    width: 30px;
}
  
#menu-toggle:checked + .hamburger .l2 {
    transform: rotate(-45deg);
    top: 18px;
    left: 1px;
    width: 30px;
}
  
#menu-toggle:checked + .hamburger .l3 {
    transform: none;
    top: 22px;
    left: 11px;
    width: 4px;
    height: 20px;
}
  
#menu-toggle:checked + .hamburger .l4 {
    transform: none;
    top: 22px;
    left: 36px;
    width: 4px;
    height: 20px;
}

.aside-menu {
    position: fixed;
    top: 0;
    right: -1000px; /* Escondido inicialmente */
    width: 550px;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    padding-top: 40px;
    transition: right 0.5s ease;
    z-index: 1000;

}

.aside-menu nav a {
    color: rgb(186,58,59);
    text-decoration: none;
    font-size: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    padding-left: 80px;
    margin: 25px 0px;
    
    
}

.aside-menu nav a:hover{
    background-color: rgb(186,58,59);;
    color: white;
}

.aside-menu nav  {
    margin-top: 100px;
    

}

.container-menu{
    display: flex;
    flex-direction: column;
    gap: 280px;
}

.sociais{
    list-style: none;
    display: flex;
    gap: 30px;
    align-items: center;
    justify-content: center;
    
}

.sociais h3{
    text-align: center;
}

.icon-instagram{
    width:35px;
    height: 35px;
}

.whatsapp-button{
    font-size: 38px;
    color: rgb(186,58,59);
}


/* Quando o input estiver "checked", mostra o menu */
#menu-toggle:checked ~ .aside-menu {
    right: 0;
}
#menu-toggle:checked ~ .mascara {
    display: block;
}

.mascara{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999; 
    display: none; 
    
}

/* Fim do Header */

/* ------------------------------------------------------------------------------- */

/* Conteúdo da página */



.main-container{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;

    
}

/* ------------------------------------------------------------------------------- */

.recorte1{
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 0px 0px 20px 0px;
    height: 680px;
}
.recorte1_1 img{
    width: 980px;
    height: 660px;
    
    
}
.recorte1_1{
    display: flex;
    align-items: center;
    width: 980px;
    height: 680px;
    
}

.recorte1_2{
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 500px;
    gap: 50px;
    padding-left: 200px;

}

.recorte1_2 h1{
    font-size: 50px;
    color: rgb(186,58,59);
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    max-width: 250px;
}

.recorte1_2 p{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    max-width: 500px;
    text-align: left;

}

/* ------------------------------------------------------------------------------- */


.recorte2{
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 20px 0px;
    height: 680px;
    background-color: rgb(186,58,59);
}
.recorte2_2 img{ 
    width: 700px;
    height: 640px;
    transition: transform 0.9s ease;
    border-radius: 5px; 
}
.recorte2_2 img:hover{
    transform: scale(1.1);
    overflow: visible;
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
    
    
} 

.recorte2_2{ 
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1180px;
    height: 680px;
    padding-right: 50px;
    
}

.recorte2_1{  
    display: flex;
    width: 980px;
    flex-direction: column;
    height: 500px;
    gap: 50px;
    padding-left: 300px;
    

}

.recorte2_1 h1{  
    font-size: 50px;
    color: white;
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    max-width: 250px;

}

.recorte2_1 p{ 
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    max-width: 300px;
    text-align: left;
    color: white;
}
/* ------------------------------------------------------------------------------- */

.recorte3{
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 100px 0px 20px 0px;
    height: auto;

}
.recorte3_1 img{
    width: 950px;
    height: 660px;
    transition: transform 1s ease;
    border-radius: 1000px;
    
}

.recorte3_1 img:hover{
    
    transform: scale(1.1);
    overflow: visible;
    box-shadow: 0 10px 20px rgba(0,0,0,0.5);

}

.recorte3_1{
    display: flex;
    align-items: center;
    width: 980px;
    height: 680px;
    
}

.recorte3_2{
    display: flex;
    width: 100vw;
    flex-direction: column;
    height: 500px;
    gap: 50px;
    padding-left: 200px;
    justify-content: center;
    

}

.recorte3_2 h1{
    font-size: 50px;
    color: rgb(186,58,59);
    font-family: 'Work Sans', sans-serif;
    text-align: left;
    max-width: 250px;
}

.recorte3_2 p{
    font-size: 20px;
    font-family: 'Work Sans', sans-serif;
    max-width: 500px;
    text-align: left;

}

/* ------------------------------------------------------------------------------- */


.blank {
    width: 100vw;
    height: 200px;
}
/* Fim do conteúdo da página */

/* ------------------------------------------------------------------------------- */

/* Conteúdo do footer */

.footer-container{
    display: flex;
    background-color: rgb(186,58,59);
    height: 300px;
    width: 100vw;
    flex-direction: column;
    

}


/* Responsividade */

@media (max-width: 1024px) {
    .main-top {
        padding: 0 40px;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .main-top h3 {
        position: static;
        margin-left: 0;
        width: auto;
        text-align: center;
        font-size: 14px;
        padding-top: 10px;
    }

    .recorte1,
    .recorte2,
    .recorte3 {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
    }

    .recorte1_1,
    .recorte2_2,
    .recorte3_1,
    .recorte1_2,
    .recorte2_1,
    .recorte3_2 {
        width: 100%;
        padding: 0;
        height: auto;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .recorte1_1 img,
    .recorte2_2 img,
    .recorte3_1 img {
        width: 90%;
        height: auto;
    }

    .recorte1_2,
    .recorte2_1,
    .recorte3_2 {
        padding: 20px 10px;
    }

    .recorte1_2 h1,
    .recorte2_1 h1,
    .recorte3_2 h1 {
        font-size: 30px;
        max-width: 100%;
    }

    .recorte1_2 p,
    .recorte2_1 p,
    .recorte3_2 p {
        font-size: 16px;
        max-width: 90%;
        margin: 0 auto;
    }

    .aside-menu {
        width: 100vw;
    }

    .container-menu {
        gap: 100px;
    }

    .aside-menu nav a {
        padding-left: 30px;
        font-size: 20px;
    }

    .footer-container {
        height: auto;
        padding: 30px 20px;
    }

    .footer-container > div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
    }

    .autority {
        text-align: center;
        font-size: 14px;
        margin-top: 20px;
    }
}

@media (max-width: 600px) {
    .hamburger {
        width: 40px;
        height: 40px;
    }

    .line {
        width: 25px;
        left: 7px;
    }

    .main-top h3 {
        font-size: 12px;
    }

    .recorte1_2 h1,
    .recorte2_1 h1,
    .recorte3_2 h1 {
        font-size: 24px;
    }

    .recorte1_2 p,
    .recorte2_1 p,
    .recorte3_2 p {
        font-size: 14px;
    }

    .icon-instagram {
        width: 30px;
        height: 30px;
    }

    .whatsapp-button {
        font-size: 32px;
    }
}